#contenedor1 {
    display: flex;
    margin-top: 5px;
}
#contenedor2 {
    display: flex;   
    margin-top: 5px; 
    
}


#contenedor3 {
    display: flex;
    margin-top: 5px;  
    margin-top: 10px;
    justify-content:end
}
.btn-danger {
    margin-right: 10px;
}